.cont {
  margin: 0px 120px;
}

body {
  font-family: 'Lugrasimo', cursive;
}

/* Style the tab */
.tab {
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: #030303;
  width: 100%;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: #1b1a1a;
  color: #fff;
  border: none;
  padding: 14px 16px;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


.header {
  background: #ccc;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.home_main {
  display: flex;
  gap: 35px;
  justify-content: center;
  padding-bottom: 65px;


}

.home_txt {
  text-align: right;
  width: 40%;
  text-align: left;
  padding-top: 35px;
  padding-right: 35px;

}


.logo_img {
  width: 95px;
  height: 115px;
  padding: 15px;
}

.city {
  display: flex;
  gap: 25px;
}

.footer {
  margin-top: 700px;
}

.navbar2 {
  padding-top: 10px;
  text-decoration: none;
  color: black;
}

.company_main {
  display: flex;
  gap: 35px;
  justify-content: center;
  padding-bottom: 60px;
}

.company_txt {
  text-align: right;
  width: 45%;
  text-align: left;
  padding-top: 5px;

}

.company_img {
  width: 100%;
}

footer {
  border-top: 2px solid white;
}

.modil_main {
  display: flex;
  gap: 35px;
  justify-content: center;
  padding-bottom: 65px;

}

.auto_main {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  gap: 55px;
  justify-content: space-evenly;
  padding-bottom: 125px;
}

.avto_img {
  width: 100%;
  height: 100%;
  margin-bottom: 45px;
}

@media (max-width: 1800px) {
  .home_txt {
    width: 35%;
    text-align: left;
    padding-right: 55px;

  }



  .contacts_main {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 750px);
    padding-bottom: 65px;
  }

}



@media (max-width: 1333px) {

  .auto_main {
    display: grid;
    grid-template-columns: repeat(1, 95%);
    grid-template-rows: repeat(2, 48%);
    gap: 25px;
    justify-content: center;
    align-items: center;
  }

  .avto_img {
    width: 100%;
    margin-bottom: 35px;
  }

  .contacts_img {
    width: 45%;
  }

  .contacts_main {
    display: grid;
    padding-top: 35px;
    gap: 25px;
    grid-template-columns: repeat(1, 45%);
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(2, 50%);
    padding-bottom: 65px;
  }


}




@media (max-width: 1200px) {
  .auto_main {
    display: grid;
    grid-template-columns: repeat(1, 95%);
    grid-template-rows: repeat(2, 48%);
    gap: 25px;
    justify-content: center;
    align-items: center;
  }

  .avto_img {
    width: 100%;
    margin-bottom: 35px;
  }


  .contacts_main {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(2, 50%);
    grid-auto-flow: column;
    grid-column: revert;
    align-items: center;
    padding-bottom: 15px;
    margin-top: -20px;
  }

  .cont_main1 {
    order: -1;
  }

  .contacts_img {
    width: 38%;
  }

  .cont_img {
    width: 32%;
  }


}


@media (max-width: 1100px) {

  .home_main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;


  }

  .home_txt {
    width: 75%;
    text-align: left;
    padding-right: 55px;

  }

  .header_up {
    display: none;
  }

}



@media (max-width: 962px) {
  .company_main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }

  .home_main_img {
    width: 95%;
    padding: 10px;
  }


  .company_txt {
    text-align: right;
    width: 55%;
    text-align: left;
    padding-top: 5px;

  }

  .modil_main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    padding-bottom: 65px;

  }

  .events_main,
  .service_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    padding-bottom: 45px;
  }

  .events_main_img {
    width: 85%;
  }



}

@media (max-width: 642px) {
  .home_main_img {
    width: 85%;
    padding: 10px;
  }

  .events_main_img {
    width: 75%;
  }
}



.events_main {
  display: flex;
  gap: 35px;
  justify-content: center;
  padding-bottom: 65px;
}

.service_main {
  display: flex;
  gap: 35px;
  justify-content: center;
  padding-bottom: 65px;
}

.services_main {
  display: flex;
  gap: 35px;
  justify-content: center;
  padding-bottom: 65px;
  padding-top: 35px;
  background: url('bg1.jpg');
  background-size: cover;
  font-size: 18px;
  text-shadow: 2px 2px #0e0c0c;
  width: 100%;
  color: #ffffff;
  height: 750px;
}

.txt_dis {
  color: #645b5b;
}

.contacts_main {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 45%);
  padding-bottom: 65px;
  justify-content: space-around;
  align-items: center;
}

.contacts_img {
  width: 100%;
}

.cont_img {
  width: 75%;
}